
3D arm model/PCC/4_segments/9-Camera-0.1.ply
*.ply
*.ply
*.ply
3D arm model/PCC/4_segments/18-Camera-0.1.ply
3D arm model/PCC/1_segments/14-Camera-0.0.ply
3D arm model/PCC/1_segments/14-Camera-0.0.ply
*.png
